*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    overflow: scroll;
}

.logo{
    display: flex;
  
   
}

.data{
    font-size: 20px;
    width: 15vw;
    text-align: center;
}

.data span{
    font-family: "Inria Serif", serif;
    font-style: normal;
    font-weight: bold;
    
}



.menu {
    display: flex;
    gap: 25px;
    justify-content: center ;
   /* margin-top: 5px; */

}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-align: center;
    font-family: "Inria Serif", serif;
    font-style: normal;
    font-weight: bold;
   
  

}

.menu a:hover{
    text-decoration: underline;
}

.perfil img{
position: absolute;
right: 20px;
top: 60px;
width: 70px;
height: 80px;

}


.livrosright{
    width: 50%;
    position: absolute;
    height: 100%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bestsellers{
    width: 40vw;
    height: 90vh;
}

.infobestsellers{
    position: relative;
    top: -20%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    display: flex;
    padding-top: 40px;
 
}

.infobestsellers h1{
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-family: "Inria Serif", serif;
    font-size: 70px;
    text-align: left;
    padding-left: 45px;
    padding-top: 50px;
}

.infobestsellers p{
    font-size: 1.9vw;
    width: 40vw;
    color: #000000;
    text-align: left;
    font-family: "Inria Serif", serif;
    font-style: normal;
    padding-top: 50px;
    padding-left: 45px;
}
main img{
    width: 100%;
    height: auto;
    display: block;
}

#caixa-texto{
    padding: 6px 6px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
}

header{
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    
    
}

.top{
    display: flex;
    height: 90%;
    width: 100%;
}
.baixo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.pesquisa{
    height: 25px;
    display: flex;
    align-items: center;
    
   
}

.pesquisa img, .pesquisa input{
    height: 100%;
    
}

.lado-esquerdo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.container{
    padding-top: 25px;
    padding-left: 45px;
}

#buscarlivros{
    padding: 16px 32px;
    font-size: 32px;
    background-color: #000000;
    color:  #fff;
    font-family: "Inria Serif", serif;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 25px;

    
}
